*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/JavaProgress.txt
.DS_Store
/build
/captures
.externalNativeBuild
/app/release
gradle.properties
keystore.properties